<%= turbo_stream_from dom_id(@poker_session) %>
<%= turbo_stream_from @participant.id %>

<div class="container">
  <%= turbo_frame_tag :estimates do %>
    <%= render "estimates", poker_session: @poker_session, participant: @participant %>
  <% end %>

  <%= turbo_frame_tag :test do %>
    <%= render "test", poker_session: @poker_session, participant: @participant %>
  <% end %>

  <%= turbo_frame_tag :table do %>
    <%= render "table", poker_session: @poker_session %>
  <% end %>
</div>
